.headerWrp {
  background-color: white;
  padding: 1em 0;
}

.logoutBtn,
.logoutBtn:hover {
  &:global(.ui.icon.button) {
    border: none;
    box-shadow: none;
  }
}

.menuBtn,
.menuBtn:global(.ui.icon.button) {
  color: gray;
  &:hover {
    color: black !important;
  }

  
}
// :global(.ui.header) {
//     max-width: 200px;
// }

.headerImage {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.userDataContainer {
  display: flex;
  justify-items: start;
  width: auto;
  cursor: auto;

  input {
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(145, 142, 142);
    outline: none;
    width: 100px;
    padding-top: 5px;

    &:disabled {
      border-bottom: none;
    }
  }
}

.userData {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  cursor: pointer;
  color: black;
}

.userName {
  font-size: 14pt;
}

.userStatus {
  font-size: 8pt;
  color: rgb(165, 165, 165);
  display: flex;
}

.editIcon {
  color: #000;
  &:hover {
    opacity: 0.7;
  }
}
